Python_Gui_Development/19_PythonDataManager/ui_files/__pycache__/
Python_Gui_Development/19_PythonDataManager/__pycache__/
Python_Gui_Development/19_PythonDataManager/fresh.csv
Python_Gui_Development/19_PythonDataManager/fresh2.csv
